<div class="card">
  <div class="card-header" style="text-align: center">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/logo.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Ahmed Alaa</h3>
      </div>

      <div class="text-center">@ahmedbenalaa</div>
      <div class="text-center">
        <a href="http://www.linkedin.com/in/ahmedbenalaa/">www.linkedIn.com/AhmedAlaa</a>
      </div>
    </div>
  </div>
</div>